div.container{
  width: 100%;
  margin-left: 0;
}

span {
margin: 0;
padding-left: 0;
}


.row {
  max-width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

.footer {
  font-size: 15px;
  justify-content: center;
}


/* Product */
.productCard {
  font-size: 50px;
  border-radius: 15px;
  border-color: #121212;
  background: linear-gradient(rgb(96, 144, 248) -5.91%, rgb(255, 97, 221) 111.58%);
  max-width: 450px;
  min-width: 300px;
  height: 300px;
  margin: 15px;
}

.productText {
  color: #B8B8B8;
  font-size: 50px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
}

.products {
  background-color: #282c34;
  border-radius: 100px;
}

.products a {
  font-size: 30px;
  color:#121212;
  opacity: .5;
  margin: 10px 20px;
  transition: all .3s ease-in-out;
}

.products a:hover {
  opacity: 10;
  color:#529dff;
}

.products h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
  margin: 10px;
  letter-spacing: 0.8px;
}
.products p {
  color: #b8b8b800;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
/* Footer */

footer {
  height: 100px;
}
