:root {
  --navBg: #1d202f;
}

.header {
    background-color: #1d202f;
    height: 100px;
}

.user-options-box{
  align-items: center;
  justify-content: right;
}

.user-options{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.user-options a {
  padding-left: 2rem;
  text-decoration: none;
  color: white;
}



.header-option{
  padding: 1rem;
}

.header-option a {
  padding-left: 2rem;
}




.header .col {
    max-height: 100px;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  

.header .icon {
    border-radius: 100px;
    width: 125px;
    object-fit: contain;
    overflow: hidden;
    background: linear-gradient(var(--rotate), rgb(255, 104, 104), rgb(255, 217, 4));
    animation: spin 5s ease infinite;
    margin-left: 10px;
}

