/* Css Styling Organized by Color/Styles, Dimensions, flexbox, and spacing*/

/* Global Variables */
:root {
    --navGr: #1d202f;
    --navWh: #f5f5f5;
    --xsSpace: 1rem;
    --sSpace: 2rem;
  }

  ::-webkit-scrollbar{
    display: none;
  }


  /* Sidebar Navigation  */
  .nav_menu {
    background-color: var(--navGr);
    width: 100%;
    margin-top: 15px;
    padding-top: 10px;
  }

  .nav_menu_items {
    width: 100%;
    padding: 0;
    top: 0;
  }

  .nav_menu_items li span {
    padding-left: var(--xsSpace);
  }

  /* Styling for category selected by User */

  .nav_active_category{
    list-style: none;
    height: 60px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  .nav_active_category span{ 
    padding-left: var(--xsSpace);
  }

  /* Text Spacing & size */
  
  .nav_text {
    list-style: none;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0 8px 16px;
  }
  
  .nav_text a {
    color: var(--navWh);
    text-decoration: none;
    width: 95%;
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding-left: 3rem;
  }
  
  .nav_text a:hover {
    color: var(--navGr);
    background-color: var(--navWh);
  }
  
  /* Responsiveness based on size */

  @media (max-width:1350px) {

    .nav_active_category{
      display: none;
    }

    .nav_text li {
      display: flex;
      flex-direction: row;
    }

    .nav_text a {
      font-size: var(--sSpace);
      display: flex;
      justify-content: center;
      padding-left: 0;
      
    }

    .nav_text span {
        display: none;
    }

    .nav_icon {
      display: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      
    }
  }

  @media (max-width:575px) {
  
    .nav_active_category{
      display: none;
    }

    .nav_icon {
      display: inline-flex;
      padding: var(--xsSpace);
    }

    .nav_menu_items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: var(--xsSpace);

    }
  }
    

  